# PostgreSQL. Versions 9.3 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On macOS with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On macOS with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
development:
  adapter: postgresql
  encoding: utf8
  host: 127.0.0.1
  port: 5432
  username: "seu usuario"
  password: "sua senha"
  pool: 5
  database: financial_management_development

test:
  adapter: postgresql
  encoding: utf8
  host: 127.0.0.1
  port: 5432
  username: "seu usuario"
  password: "sua senha"
  pool: 5
  database: financial_management_test

production:
  adapter: postgresql
  encoding: utf8
  host: 127.0.0.1
  port: 5432
  username: "seu usuario"
  password: "sua senha"
  pool: 5
  database: financial_management_production